 @{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recipe App</h1>
    <p class="lead">This app is made with ASP.NET 4.7.2. This app (in the future) will allow users to log in, create/read/update/delete their recipes. Users will also be able to 
    keep their recipes private, allowing certain users to view their shared collection. Recipes will be displayed public as an option. In the future, I plan on using a recipe API to give users more options on public recipes 
    that they can reference and save.</p>
    <p>This app is made with IIS as the web server, and Azure's Platform as a Service (PaaS).</p>
</div>
